/vendor
/build/logs
/build/coverage
/app/tests/_log
composer.phar
.DS_Store
/_ide_helper.php
/app/config/packages
/public/packages
/node_modules
Homestead.yaml
Homestead.json
/bootstrap/compiled.php
.env.*.php
.env.php
.env
/.idea/
public/images/avatar/
.phpstorm.meta.php
public/js
public/pdf
public/css
tests/_output/*
tests/_support/_generated/
resources/assets/css/less.css
resources/assets/css/less.css.map
/package/
public/vendor/kendo-tournaments/