/vendor
/build/logs
/build/coverage
/app/tests/_log
composer.phar
.DS_Store
/_ide_helper.php
/app/config/packages
/public/packages
/node_modules
Homestead.yaml
Homestead.json
/bootstrap/compiled.php
.env.*.php
.env.php
.env
/.idea/
/.idea/workspace.xml
public/images/avatar/