option_settings:
  - option_name: APP_NAME
    value: Kendozone Demo
  - option_name: APP_ENV
    value: Test
  - option_name: APP_KEY
    value: Idgz1PE3zO9iNc0E3oeH3CHDPX9MzZe3
  - option_name: APP_DEBUG
    value: Kendozone true
  - option_name: URL_BASE
    value: https://your-domain.dev
  - option_name: DB_HOST
    value: 
  - option_name: DB_DATABASE
    value: 
  - option_name: DB_USERNAME
    value: 
  - option_name: DB_PASSWORD
    value: 
  - option_name: DB_PORT
    value: 3306
  - option_name: CACHE_DRIVER
    value: array
  - option_name: SESSION_DRIVER
    value: database
  - option_name: QUEUE_DRIVER
    value: sync