.sidebar-content > .anchor-top > ul > li > a > i.sidemenu {
    font-size: 24px;
}

/* col-xs */
@media (max-width: 950px) {
    .breadcrumb, ul.nav.navbar-nav.breadcrumbs, .protip-container {
        display: none;
    }

    .head_create_tournament {
        display: none !important;
    }
}

.undo_link {
    color: #FFF;
    font-weight: 700;
}

.btn, legend {
    font-family: "Nunito", Helvetica Neue, Helvetica, Arial, sans-serif;
}

ul > ol.breadcrumb > li {
    font-family: "Nunito", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.5384616;
    color: #333;

}

ul > ol.breadcrumb > li.active {
    color: #333;

}

ul.nav > li > a.btn {
    text-transform: uppercase;
    border-width: 3px;
}

fieldset > a > legend {
    font-size: 14px;
    font-weight: 400;
}

.category-settings > .panel-body > .container-fluid > .panel-group > .panel > form > .row > .cat-title > a > .panel-heading {
    vertical-align: middle;
}

.category-settings > .panel-body > .container-fluid > .panel-group > .panel > form > .row > .cat-status > a > .panel-heading {
    text-align: right;
    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;
}

.category-settings > .panel-body > .container-fluid > .panel-group > .panel > form > .row > .cat-title > a > .panel-heading > span {
    font-size: 18px;
}

.category-settings > .panel-body > .container-fluid > .panel-group > .panel > form > .row > .cat-status > a > .panel-heading > span > i {
    font-size: 30px;
    margin-left: 10px;

}

.category-settings > .panel-body > .container-fluid > .panel-group > .panel > .row > .cat-title > a > .panel-heading > h6 {
    padding-top: 8px;

}

.btn.text-primary.border-primary.border-3.seeall {
    width: 107px;

}

.btn.text-success.border-success.border-3.seeall {
    width: 107px;
}
.btn.border-success.bg-success.border-3 {
    width: 107px;
}


.square {
    /* float: left; */
    text-align: center;
    padding-top: 25px;
    height: 160px;
    /* padding-bottom: 100%; */
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 5em;
}

.dashboard-table {
    height: 80px;
    vertical-align: middle;

}

.dashboard-table:not(:last-child) {
    border-bottom: 1px solid;
    border-color: #EEE;

}

/*.dashboard-table:last-child{*/
/*padding-bottom: 30px;*/

/*}*/


@media (max-width: 860px) {
    .container-fluid {
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3,
    .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
    .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
    .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
    .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-left: 0;
        padding-right: 0;
    }

    .panel-body {
        padding-left: 15px;
        padding-right: 15px;
    }

}

.noty_message > .row > .noty_icon > .icon-trophy2 {
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.noty_message > .row > .noty_icon > .icon-warning {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
}

.ui-tooltip {
    background: #666;
    color: white;
    border: none;
    padding: 0;
    opacity: 1;
}

.ui-tooltip-content {
    position: relative;
    padding: 1em;
}

.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
}

.right .ui-tooltip-content::after {
    top: 18px;
    left: -10px;
    border-color: transparent #666;
    border-width: 10px 10px 10px 0;
}

.language-switch-desktop {
    margin-top: 5px;
}

.language-switch-mobile {
    margin-top: -13px;
}

.form-group.multiselect {
    margin-bottom: -20px;
}

.border-solid {
    border-style: solid;
}

.bootstrap-duallistbox-container .btn.moveall,
.bootstrap-duallistbox-container .btn.removeall {
    display: none;
}

.bootstrap-duallistbox-container .btn.move,
.bootstrap-duallistbox-container .btn.remove {
    width: 100%;
}

[v-cloak] {
    display: none;
}

.add_category {
    margin-top: -20px;
}

label[for=bootstrap-duallistbox-nonselected-list_category] {
    margin-bottom: 0;
}

.mobile-menu {
    font-size: 25px;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .nav > li > a > img {
        max-width: none;
        width: 28px;
        height: 28px;
        margin-top: 2px;
        border-radius: 50%;
    }

    .content {
        padding: 10px 10px;
    }

    .multiselect {
        padding-left: 12px;
        padding-right: 12px;
    }

    .cat-state {
        display: none;
    }

    .language-switch-desktop {
        display: none !important;
    }

    .navbar-header .navbar-nav > li + li {
        margin-top: 0;
    }

    .create-tournament {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0 !important;
        text-transform: uppercase;
    }
}

.create-tournament {
    display: none;

}

#avatar {
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#storeTree {
    display: inline-block;
    vertical-align: middle;
}

div.team div.label {
    color: black;
}


img.side_avatar {
    width: 35px;
    border-radius: 2px;
}

img.side_flag {
    width: 25px;
    border-radius: 2px;
}

.anchor-bottom {
    position: absolute;
    bottom: 35px;
    left: 0;
    width: 100%;
    display: none;
}

.navigation-bottom {
    line-height: 0.5;
}

li.side_avatar > a {
    padding: 0;
    min-height: 0;
}

li.side_avatar:last-child {
    padding-bottom: 20px;
}

.anchor-bottom ul li ul {
    position: absolute;
    right: 0;
    top: 25px;
}

.onclick-menu {
    position: relative;
    display: inline-block;
}

.onclick-menu:before {
    content: "click me!";
}

.onclick-menu:focus .onclick-menu-content {
    display: block;
}

.onclick-menu-content {
    position: absolute;
    z-index: 1;

    display: none;
}

.banner {
    width: 100%;
}

.banner-switcher {
    position: absolute;
    right: 0;
}

.top-banner-guest {
    vertical-align: middle;
    position: relative;
    top: -40px;
    opacity: 0.5;
}

.valign-parent {
    display: flex;
}

.valign-child {
    margin: auto;
}


.wrapper {
    position: relative;
    width: 100px;
    height: 350px;
    border: 1px #ccc
}

.line {
    position: absolute;
    left: 49%;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #ccc;
    z-index: 1;
}

.wordwrapper {
    text-align: center;
    height: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -12px;
    z-index: 2;
}

.word {
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #f5f5f5;
    font-size: 10px;
}

.navbar-header .navbar-nav > li + li {
    margin-top: -13px;
}
.see_advanced_options{
    border: 0;
    background-color: transparent;
}


/* Sheets */

.fighters{
    margin-top:40px;
}

.sheet-header{
    margin-top:20px;
    margin-bottom:20px;
}
.row-fighter{
    margin-bottom:55px;
}
.sheet-competitors{
    /*margin-top:60px;*/
}
.sheet_point{
    margin: 0 5px;
    width:80px;
}

.total{
    border: solid 1px lightgrey;
    margin: 5px 15px;
    padding: 0 25px;

}
.clasify{
    border: solid 1px lightgrey;
    padding: 0 25px;
}

.playoff{
    margin-top:80px;
    margin-bottom:80px;
}
.form-group-sheets{
    margin-bottom:0;
}


