.undo_link {
    color: #FFF;
    font-weight: 700;
}

ul > ol.breadcrumb > li{
    font-family: "Nunito", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.5384616;
    color: #333;

}

ul > ol.breadcrumb > li.active{
    color: #333;

}

ul.nav > li > a.btn{
    text-transform: uppercase;
    border-width: 4px;
}


fieldset > a > legend {
    font-size:14px;
    font-weight: 400;
}
.category-settings > .panel-body > .container-fluid > .panel-group > .panel > .row > .col-md-7 > a >.panel-heading {
    vertical-align: middle;
}
.category-settings > .panel-body > .container-fluid > .panel-group > .panel > .row > .col-md-5 > a >.panel-heading{
    text-align: right;
    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;
}
.category-settings > .panel-body > .container-fluid > .panel-group > .panel > .row > .col-md-5 > a > .panel-heading > span {
     font-size: 18px;
 }

.category-settings > .panel-body > .container-fluid > .panel-group > .panel > .row > .col-md-5 > a > .panel-heading > span > i {
    font-size: 40px;
    margin-left: 10px;

}

.sidebar-main > .sidebar-content > .sidebar-category > .category-content > ul.navigation > li {
    padding-bottom: 20px;
}


.category-settings > .panel-body > .container-fluid > .panel-group > .panel > .row > .col-md-7 > a > .panel-heading > h6{
    padding-top: 8px;

}
.square {
    /* float: left; */
    text-align: center;
    padding-top: 25px;
    height: 160px;
    /* padding-bottom: 100%; */
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 5em;
}

.dashboard-table{
    height: 80px;
    vertical-align: middle;

}

.dashboard-table:not(:last-child){
    border-bottom: 1px solid;
    border-color: #EEE;

}
/*.dashboard-table:last-child{*/
    /*padding-bottom: 30px;*/

/*}*/

.btn.text-success.border-success.border-xlg:hover{
    background-color: transparent;
    border-color: #6cc188;
    color: #6cc188;
    /*box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.00) inset;*/
}

@media (max-width: 860px) {
    .container-fluid {
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3,
    .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
    .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
    .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
    .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-left: 0;
        padding-right: 0;
    }

    .panel-body {
        padding-left: 15px;
        padding-right: 15px;
    }

}
